*.iml
.gradle
/.claude
/local.properties
/.idea
.DS_Store
/build
/.kotlin
/captures
.externalNativeBuild
/androidApp/build
/composeApp/build
/screenshotTests/build
/screenshotTests/src/test/snapshots
/native/Pods
*.aab
.claude
xcuserdata/
fastlane/play-store-key.json
fastlane/report.xml
fastlane/README.md