:root {
  --mdc-theme-primary: #ED7354;
  --mdc-theme-secondary: #F4BFAB;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #444;
        color: #e4e4e4;
    }
    .mdc-text-field .mdc-notched-outline__leading, .mdc-text-field .mdc-notched-outline__notch, .mdc-text-field .mdc-notched-outline__trailing {
        border-color: #e4e4e4 !important;
    }
    input {
        color: #e4e4e4 !important;
    }
    .mdc-text-field-helper-text {
        color: #e4e4e4 !important;
    }
    textarea {
        color: #e4e4e4 !important;
    }
}

.score-keys  {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.download-info {
    width: calc(100% - 32px) !important;
    max-width: 500px;
}

.border-box {
    border-width: 8px;
    border-style: double;
    border-color: #ed7354;
    width: max-content;
    margin: auto;
    padding: 8px;
}

.illustration {
    width: 100%;
    max-width: 400px;
}

.hint {
    padding: 12px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: Roboto, sans-serif;
}

.success {
    background-color: #2ecc71;
    color: #444444;
}

.error {
    background-color: #e74c3c;
    color: #e4e4e4;
}

.fade-in-and-out {
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

a, a:visited, a:hover, a:active, a:focus {
  color:#ED7354;
  text-decoration: none;
}

.pentagon {
    background-image: url(images/icons8-pentagon.svg);
    background-size: 230px;
    width: 230px;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    padding-top: 30px;
}

.pentagonWrapper {
    display: table;
    margin: auto;
    display: inline-block;
}

.grid {
    font-size: 0;
    border-width: 0;
    border-spacing: 16px;
    margin: auto;
}

.grid td {
    margin: 0px;
    padding: 0px;
}

.grid tr {
    margin: 0px;
    padding: 0px;
}

#challenge-link {
    width: 100%;
    max-width: 400px;
    word-wrap: break-word;
}