pkgbase = braincup-bin
	pkgdesc = Train your math skills, memory and focus
	pkgver = 2.28.0
	pkgrel = 1
	url = https://github.com/SimonSchubert/Braincup
	arch = x86_64
	license = Apache-2.0
	depends = hicolor-icon-theme
	provides = braincup
	conflicts = braincup
	options = !strip
	source = Braincup-2.28.0-linux-x86_64.tar.gz::https://github.com/SimonSchubert/Braincup/releases/download/v2.28.0/Braincup-2.28.0-linux-x86_64.tar.gz
	sha256sums = ea209736ea585e9611c3e0c1e71babc4d80645a6c78eb22c7152800809514c19

pkgname = braincup-bin
