pkgbase = braincup-bin
	pkgdesc = Train your math skills, memory and focus
	pkgver = 2.20.0
	pkgrel = 1
	url = https://github.com/SimonSchubert/Braincup
	arch = x86_64
	license = Apache-2.0
	depends = hicolor-icon-theme
	provides = braincup
	conflicts = braincup
	options = !strip
	source = Braincup-2.20.0-linux-x86_64.tar.gz::https://github.com/SimonSchubert/Braincup/releases/download/v2.20.0/Braincup-2.20.0-linux-x86_64.tar.gz
	sha256sums = dfd15d0d67ea2e3baa5e576f0e4e9a4000b7d43435d4569f048ea0c80df185a0

pkgname = braincup-bin
