pkgbase = braincup-bin
	pkgdesc = Train your math skills, memory and focus
	pkgver = 2.7.1
	pkgrel = 1
	url = https://github.com/SimonSchubert/Braincup
	arch = x86_64
	license = Apache-2.0
	depends = hicolor-icon-theme
	provides = braincup
	conflicts = braincup
	options = !strip
	source = Braincup-2.7.1-linux-x86_64.tar.gz::https://github.com/SimonSchubert/Braincup/releases/download/v2.7.1/Braincup-2.7.1-linux-x86_64.tar.gz
	sha256sums = 3203a1697f73e3881761931f2f38df771ce9b1ba0c33165929643bb613e030c4

pkgname = braincup-bin
